@using University.ApplicationCore.Entities

@model IEnumerable<Course>

@{
    ViewData["Title"] = "Courses";
}

<h2>Courses</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groups)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var course in Model)
        {
            <tr>
                <td>
                   @Html.DisplayFor(modelItem => course.Id)
                </td>
                <td>
                   @Html.DisplayFor(modelItem => course.Name)
                </td>
                <td>
                   @Html.DisplayFor(modelItem => course.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => course.Groups.Count)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@course.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@course.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@course.Id">Delete</a> 
                </td>
            </tr>
        }
    </tbody>
</table>